body{
    background-color:bisque;
}
p{
    position: relative;
    height: 100px;
    color: black;
    transition: 0.3s;
    border-radius: 0.8rem;
    cursor: pointer;
}
p:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px darkgray;
}
.container{
    border-radius: 0.9rem;
}